:root {
  --main-color: #dfdfdf;
  --shadow: #a4a4a4;
  --secondary-color: #a26cff;
  --tertiary-color: #885bd5;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "robotoregular";
  src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("./fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  min-height: 100vh;
  max-height: fit-content;
  font-family: "robotoregular", Courier;
}

/* header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  box-shadow: 1px 1px 2px 2px var(--shadow);
  margin-bottom: 10px;
}

/* Content container */
.mainContainer {
  grid-row: 2 / 4;
  text-align: center;
  padding: 0 20px;
}

.libraryContainer {
  display: grid;
  height: 60%;
  max-width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-bottom: 20px;
}

.inactiveOver {
  display: none;
}

.activeOver {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.active {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 15px;
  z-index: 2;
  position: absolute;
  display: block;
  right: 35%;
  bottom: 40%;
}

.inactive {
  display: none;
}

.addBookForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addBookForm > input {
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.addBookForm > input:focus {
  outline: none;
}

.addBookForm > label {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.addBookForm > label:hover {
  cursor: pointer;
}

#readCheck:hover {
  cursor: pointer;
}

.addBookToLibrary {
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: var(--secondary-color);
}

.addBookToLibrary:hover {
  cursor: pointer;
  background-color: var(--tertiary-color);
}

.bookDiv {
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 3px 3px 4px 4px var(--shadow);
  max-width: 250px;
  min-width: 100px;
  height: fit-content;
  padding: 10px 0;
  text-align: center;
}

.bookDiv > button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 5px 50px;
  border: none;
  border-radius: 5px;
  width: 80%;
}

.readToggle:hover {
  cursor: pointer;
}

.removeBtn {
  background-color: var(--main-color);
}

.removeBtn:hover {
  cursor: pointer;
  background-color: var(--shadow);
}

.addBook {
  font-size: 15px;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  background-color: var(--secondary-color);
}

.addBook:hover {
  cursor: pointer;
  background-color: var(--tertiary-color);
}

/* footer */

footer {
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  box-shadow: 3px 3px 6px 6px var(--shadow);
}

footer > p > a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

footer > p > a:hover {
  cursor: pointer;
  color: var(--tertiary-color);
}
